*{
    margin: 0;
    padding: 0;
}


.signin{
    height: 500px;
    width: 400px;
    background-color:white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    
}
.signnn{
    padding: 15px;
    font-size: 40px;
   
    

}

.logo{
    padding: 10px;
    display: flex;
    justify-content: center;
    
    
}

.logo i{
    background-color: rgb(249, 249, 249);
    padding: 12px;
    border-radius: 50%;
    text-align: center;
    margin:7px ;
    cursor: pointer;
}

.logo i:hover{
    filter: brightness(0.9);
}

.account{
    display: flex;
    justify-content: center;
    color: rgb(174, 173, 173);
    cursor: pointer;
}

.account:hover{
    filter: brightness(0.6);
}

.inp{
    padding: 7px;
    display: flex;
    justify-content: center;
    
    

}
.pass{
    padding: 7px;
    display: flex;
    justify-content: center;
    
}


.hsec{
    display: flex;
    justify-content: center;
}
.box{
    border-style: none;
    border: none;
    height: 40px;
    width: 290px;
    text-align:start;
    padding-left: 10px ;
    background-color: rgb(249, 249, 249);
    
}
.forgot{
    color:  rgb(174, 173, 173);
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}
.forgot:hover{
    filter: brightness(0.6);
}

.in{
    display: flex;
    justify-content: center;
    cursor: pointer;  
}
.in:hover{
    opacity: 0.8;
}

.last{
    background-color: orangered;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 17px;

}

.signbox{
    display: flex;
    justify-content: center;
    margin-top: 9.5%;
    
    
    
    
}
.hello{
    height: 500px;
    width: 400px;
    background: linear-gradient(135deg,  #f63e1e,#ff1048,rgb(255, 9, 46));
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 15px 0 20px rgba(0,0,0,0.4);


}
.headd{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    justify-content: center;
   margin-top: 120px;
}
.paraaa{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.journ{
     display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;

}

.upp{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.button{
    font-weight: bolder;
    color: white;
    border: 0.5px solid white;
    padding-left: 35px ;
    padding-right: 35px ;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color:rgb(232, 0, 70);
}

@media screen and (max-width:1008px) {
    .signbox{
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;

    }
    
}
@media screen and (max-width:799px) {
    .signin{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
    .hello{
    
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0;
    }
}
@media screen and (max-width:399px) {
    .signin{
        width: auto;
    }
    .hello{
        width: 314px;
        padding: 0;
        margin: 0;
    }

    .hello{
        box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    }
}

       






